<% if @stock %>
  <div class="card card-header">
    <strong>Ticker: <%= @stock.ticket %></strong>
    <strong>Name: <%= @stock.name %></strong>
    <strong>Price: <%= @stock.last_price %></strong>
    <%= link_to "Add to portfolio", user_stocks_path(user: current_user, ticket: @stock.ticket), method: :post, class: "btn btn-xs btn-success"%>
  </div>
<% end %>
